main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.comment-form-textarea {
  width: 100%;
  height: 150px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}
.pic{
  width:400px;
  height:217px;
  background: url(https://scontent.flhe7-2.fna.fbcdn.net/v/t1.6435-9/49199903_948201172039111_8954132807790100480_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeHAtBvJaTsUCzxCM99wLMXavyJniiovHm6_ImeKKi8eblO_uP1VqHVlLXEoWLe5Cs0U_L6CJkikUJBlDMcjVkv5&_nc_ohc=OXK4K7IeyNgAX_VN44w&tn=8nPZiE17B7tUHE8u&_nc_ht=scontent.flhe7-2.fna&oh=00_AT-X_8sQlQeAXi-cbB5GZ4ng_c8IbC3yaSmnubi2MTtntw&oe=6313B682) no-repeat;
  /* background:#000000; */
  background-size: 80%;
  background-size: fit;
  
}

.text{
  width:340px;
  height:217px;
  background:#FFF;
  opacity:0;
}

.pic:hover .text
    {
      opacity:0.7;
      text-align:center;
      
      color:#000000;
      font-size:20px;
      font-weight:700;
      font-family:"Times New Roman", Times, serif;
      padding:80px;
    }

    .pic2{
      width:400px;
      height:217px;
      background: url(https://scontent.flhe7-1.fna.fbcdn.net/v/t1.6435-9/166757594_3935289249842915_5560362829396748373_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFiy87iQeov2pjdsAHlbOER5CSCMs5CQOrkJIIyzkJA6sKUIKs9RNhSKQPr9ztda-B55TKgNsAS8o0nJVjG_8FT&_nc_ohc=ggHdegHD6jwAX_mck4q&_nc_ht=scontent.flhe7-1.fna&oh=00_AT-7QDKwkAqGF-E5NlfsA1RyE-yJ8SWnCVis2wsoRE9nmw&oe=63113E24) no-repeat;
      background-size: 80%;
    }
    
    .text2{
      width:340px;
      height:217px;
      background:#FFF;
      opacity:0;
    }
    
    .pic2:hover .text2
        {
          opacity:0.6;
          text-align:center;
          color:#000000;
          font-size:20px;
          font-weight:700;
          font-family:"Times New Roman", Times, serif;
          padding:80px;
        }
    
        .pic3{
          width:400px;
          height:217px;
          background: url(https://scontent.flhe7-2.fna.fbcdn.net/v/t39.30808-6/241305783_1312562985807873_909093032886695625_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=174925&_nc_eui2=AeEIvh0tns78mZ4oK5NeGZDWcFsWRelWZ-9wWxZF6VZn76ZFM4AzZpp5tQ7NbPHhkeCEBHQRVuRD3NCQoICca2Da&_nc_ohc=NZ1C4P6azS0AX_ASOB9&_nc_ht=scontent.flhe7-2.fna&oh=00_AT98ja-R9KoY5Y0vPejVF-WJNLtbDl1GiL2G_k821q8AEw&oe=62F29303) no-repeat;
          background-size: 80%;
        }
        
        .text3{
          width:340px;
          height:217px;
          background:#FFF;
          opacity:0;
        }
        
        .pic3:hover .text3
            {
              opacity:0.6;
              text-align:center;
              color:#000000;
              font-size:20px;
              font-weight:700;
              font-family:"Times New Roman", Times, serif;
              padding:80px;
            }
        